@import "partials/_variables";
@import "partials/_mixins";
body {
  font-family: $lead-font;
  width: 100%;
  margin: 0;
  background-color: rgba(240, 240, 240, 1);
  overflow-x: hidden;
  .navigation {
    position: fixed;
    padding: 21px 40px;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    &.opened {}
    .logo {
      font-size: 2em;
      margin: -5px;
      font-weight: 400;
      float: left;
      color: rgb(70, 70, 70);
      &:first-letter {
        color: $lead-color;
      }
    }
    .burger-menu {
      vertical-align: middle;
      float: right;
      padding-top: 3px;
      padding-bottom: 5px;
      width: 25px;
      cursor: pointer;
      .icon-bar {
        width: 100%;
        display: block;
        height: 2px;
        margin: 5px;
        border-radius: 1px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(70, 70, 70);
        transition: .2s;
        &:nth-child(2) {
          width: 70%;
        }
      }
      &.opened {
        .icon-bar {
          &:first-child {
            transform: rotate(45deg);
            transform-origin: 10% 90%;
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:last-child {
            transform: rotate(-45deg);
            transform-origin: 10% 90%;
          }
        }
      }
    }
  }
  .main-menu {
    margin-top: -100vh;
    height: 100vh;
    width: 100vw;
    z-index: 998;
    background-color: rgb(255, 255, 255);
    position: fixed;
    transition: .4s;
    &.opened {
      margin-top: 80px;
    }
  }
  .articles {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    .row {
      &:first-child {
        height: 45vh;
      }
    }
    .article-nav {
      cursor: pointer;
      img {
        margin-top: 100px;
      }
    }
    .article-carousel {
      @include keyframes(move-the-object) {
        0% {
          margin-left: initial;
        }
        99% {
          margin-left: -100%;
        }
        100% {
          display: none;
        }
      }
      .non-active {
          display:none;
      }
      .to-non-active {
        opacity: 0;
        transition: opacity .2s;
      }
      .to-active {
        opacity: 1;
        transition: opacity .2s;
      }
      .article-thumb {
        border: 5px solid #fff;
        text-align: center;
        position: relative;
        overflow: hidden;
        vertical-align: middle;
        max-height: 200px;
        margin-bottom: 5px;
        opacity: 1;
        transition: 2s;
        figure {
          padding: 0px;
          overflow: hidden;
          text-align: center;
          vertical-align: middle;
          margin: -1px;
          span {
            height: 100px;
            border: 1px solid #000;
            left: 0;
            right: 0;
            vertical-align: middle;
            font-size: 1em;
            font-weight: 300;
            bottom: -100px;
            margin: auto;
            padding: 9px;
            color: #fff;
            background-color: rgba(0, 0, 0, .4);
            text-align: center;
            position: absolute;
            transition: all .3s;
          }
          img {
            transition: all .3s;
            margin: -1px;
            width: 100%;
          }
        }
        &:hover {
          span {
            bottom: 0;
          }
          img {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
